.version.index /* version checker */
{
	color: #000000;
	background-color: #2C1EDB;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 254px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 181px 20px 65px;
}

#u95
{
	z-index: 2;
	width: 920px;
	background-color: #DCDCDC;
	background-color: rgba(199,199,199,0.61);
	border-radius: 15px;
	position: relative;
	-pie-background: rgba(199,199,199,0.61);
}

#u121
{
	z-index: 3;
	width: 251px;
	background-color: transparent;
	border-radius: 246px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 26px;
}

#u121 .clip_frame
{
	-webkit-border-radius: 246px 246px 246px 246px;
}

#u97-10
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 301px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

