@charset "UTF-8";
/* CSS Document */

/* Eliminando Margem */
html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Fonte Spinnaker */
@font-face {
  font-family: 'Spinnaker';
  font-style: normal;
  font-weight: 400;
  src: local('Spinnaker'), local('Spinnaker-Regular'), url(http://fonts.gstatic.com/s/spinnaker/v8/WxzDAY6mC9v3znSJEtCoW7O3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
body {
	width:700px;
}

.titulo {
	position: relative;
	left: 485px;
	top: 20px;
	display: block;
	font-family: Spinnaker, sans-serif;
	font-size: 36px;
	text-transform: uppercase;
}

.logo {
position: absolute;
	top: 35px;
	left: 195px;
}

.unordered-menu {
	position:relative;
	top:20px;
	left:470px;
	right: 90px;
	list-style: none;
}
.unordered-menu li {
	font-size: 14px;
	display: inline-block;
	text-transform: uppercase;
	font-family: Spinnaker, sans-serif;
	padding: 0px 10px 0px 10px;
}

a {
	text-decoration: none;
	color: #000000;
}

.conteudo {
	width:600px;
	font-size: 14px;
	line-height: 1.2;
	position: relative;
	top:100px;
	left: 170px;
	right:50px;
	font-family: Spinnaker, sans-serif;
}

.lateral-direita {
	position: absolute;
	top: 170px;
	left: 830px;
}

.lateral-direita-galeria {
	position: absolute;
	top: 50px;
	left: 700px;
}
li {
	list-style-type: none;
}

.listcontent li:before {
	content: "- ";
}

.menulateral li {
	text-transform: uppercase;
	font-family: Spinnaker, sans-serif;
	color:#000000;
	padding: 10px;
	font-size: 14px;
	width: 180px;
}

.caption {
	font-weight: bold;
}

h2, p {
	font-family: Spinnaker, sans-serif;
}
h2 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

.galeria{
	position: relative;
	left: 0px;
	top: 5px;
}

.footer{
	position: relative;
	margin:auto;
	width: 70%;
	top:150px;
	left: 50px;
	display: block;
	text-align: center;
	padding-bottom: 50px;
	font-size:12px;
}

@media screen and (max-width:480px) and (min-width:320px){
	.desktop {
		display: none;
	}	
}