.version.index /* version checker */
{
	color: #000015;
	background-color: #C11556;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 350px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-top: 71px;
	padding-bottom: 149px;
}

#u173
{
	z-index: 2;
	min-height: 349.95px;
	background-color: #DCDCDC;
	background-color: rgba(199,199,199,0.61);
	border-radius: 15px;
	padding-bottom: 0px;
	-pie-background: rgba(199,199,199,0.61);
}

#u173_position_content
{
	padding-top: 10px;
}

#u174
{
	z-index: 3;
	width: 171px;
	background-color: transparent;
	border-radius: 246px;
	margin-left: 96px;
	position: relative;
}

#u174 .clip_frame
{
	-webkit-border-radius: 246px 246px 246px 246px;
}

#u176-10
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 38px;
	margin-top: 23px;
	position: relative;
}

#u173-bw
{
	z-index: 2;
	min-height: 349.95px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

