.version.quem_somos /* version checker */
{
	color: #000018;
	background-color: #F1F05D;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#pu801
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u801
{
	z-index: 2;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
}

#u818
{
	z-index: 6;
	width: 224px;
	margin-right: -10000px;
	margin-top: 10px;
	left: 78px;
}

#accordionu673wrapper
{
	min-height: 267px;
	z-index: 21;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u678
{
	z-index: 22;
}

#u681-3
{
	z-index: 23;
	min-height: 49px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u681-3:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 49px;
	margin: 0px;
}

#u681-3:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 49px;
	margin: 0px;
}

#u681-3.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 49px;
	margin: 0px;
}

#u679
{
	z-index: 26;
}

#menuu750
{
	z-index: 27;
	min-height: 178px;
}

#u759
{
	min-height: 22px;
	padding-bottom: 1px;
}

#u759:hover
{
	min-height: 22px;
	margin: 0px;
}

#u759:active
{
	min-height: 22px;
	margin: 0px;
}

#u761-4
{
	min-height: 22px;
}

#u759:hover #u761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u759:active #u761-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u754
{
	min-height: 22px;
	padding-bottom: 1px;
}

#u759.MuseMenuActive,#u754:hover
{
	min-height: 22px;
	margin: 0px;
}

#u754:active
{
	min-height: 22px;
	margin: 0px;
}

#u756-4
{
	min-height: 22px;
}

#u759.MuseMenuActive #u761-4,#u754:hover #u756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u754:active #u756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u766
{
	min-height: 22px;
	padding-bottom: 2px;
}

#u754.MuseMenuActive,#u766:hover
{
	min-height: 22px;
	margin: 0px;
}

#u766:active
{
	min-height: 22px;
	margin: 0px;
}

#u769-4
{
	min-height: 22px;
	top: 1px;
}

#u754.MuseMenuActive #u756-4,#u766:hover #u769-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u766:active #u769-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u775
{
	min-height: 22px;
	padding-bottom: 2px;
}

#u766.MuseMenuActive,#u775:hover
{
	min-height: 22px;
	margin: 0px;
}

#u775:active
{
	min-height: 22px;
	margin: 0px;
}

#u776-4
{
	min-height: 22px;
	top: 1px;
}

#u766.MuseMenuActive #u769-4,#u775:hover #u776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u775:active #u776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u782
{
	min-height: 22px;
	padding-bottom: 2px;
}

#u775.MuseMenuActive,#u782:hover
{
	min-height: 22px;
	margin: 0px;
}

#u782:active
{
	min-height: 22px;
	margin: 0px;
}

#u784-4
{
	min-height: 22px;
	top: 1px;
}

#u775.MuseMenuActive #u776-4,#u782:hover #u784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u782:active #u784-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u787
{
	min-height: 22px;
	padding-bottom: 2px;
}

#u782.MuseMenuActive,#u787:hover
{
	min-height: 22px;
	margin: 0px;
}

#u787:active
{
	min-height: 22px;
	margin: 0px;
}

#u790-4
{
	min-height: 22px;
	top: 1px;
}

#u782.MuseMenuActive #u784-4,#u787:hover #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u787:active #u790-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u794
{
	min-height: 22px;
	padding-bottom: 2px;
}

#u787.MuseMenuActive,#u794:hover
{
	min-height: 22px;
	margin: 0px;
}

#u794:active
{
	min-height: 22px;
	margin: 0px;
}

#u794.MuseMenuActive
{
	min-height: 22px;
	margin: 0px;
}

#u797-4
{
	min-height: 22px;
	top: 1px;
}

#u787.MuseMenuActive #u790-4,#u794:hover #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u794:active #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u794.MuseMenuActive #u797-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	margin: 0px;
}

#u751,#u765,#u772,#u779,#u786,#u793
{
	margin-top: 2px;
}

#menuu750-bw
{
	z-index: 27;
	min-height: 178px;
	margin-top: 14px;
}

#accordionu673,#accordionu673-bw
{
	z-index: 21;
}

#pu849
{
	width: 0.01px;
	padding-bottom: 181px;
	margin-right: -10000px;
	margin-top: 137px;
	margin-left: 7px;
}

#u849
{
	z-index: 8;
	width: 354px;
	height: 180px;
	background-color: #FFFFFF;
	border-radius: 15px;
	position: fixed;
	top: 137px;
	left: 7px;
}

#u848-7
{
	z-index: 10;
	width: 336px;
	min-height: 163px;
	background-color: transparent;
	position: fixed;
	top: 155px;
	left: 16px;
}

#pu953
{
	width: 0.01px;
	margin-bottom: -648px;
	margin-right: -10000px;
	margin-top: 622px;
}

#u953
{
	z-index: 4;
	width: 380px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u960
{
	z-index: 9;
	width: 366px;
	background-color: #FFFFFF;
	border-radius: 15px;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
}

#u961-4
{
	z-index: 17;
	width: 341px;
	min-height: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 12px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 648px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -621px;
}

